
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-fonts {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
 

  /* shared style */
  .display-flex{
    display: flex;
  }
  

  /* header style */

  /* navbar related styles*/
  .navbar{
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  
   
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .nav-link{
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    padding: 0;
    margin: 0;
  }
  .home{
    color: orange;
  }
  .About{
    color: skyblue;
  }
  .Facilities{
    color: #05D4DF;
  }
  .Admission{
    color: #5D58EF;
  }


.button{
  background-color: orange;
  color: white;
  padding: 10px 10px;
  font-size: 1.1em;
  width: 197px;
  height: 50px;
  border-radius: 8px;
  border: none;
}
  /*banner*/

  .Banner{
    
    max-width: 1158.61px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 64%;
    gap: 0px;
    padding: 0 0;
    
    gap: 32px;
  }

  .para{
    width: 640px;
    height: 331px;
  }

  .hero-pic{

    width: 100%;
  
  }
  .Empowering{
    color: orange;
  }
  .towards-vision{
    color:#01ACFD;
  }

  .banner-desc{
    font-weight: 400;
    font-size: 1.25rem;
  }
  .En-btn{
    background-color: black;
    color: white;
    padding: 10px 10px;
   font-size: 1.1em;
  width: 180px;
  height: 40px;
  border-radius: 8px;
  border: none;
  }
  /*responsive media query*/

  @media screen and (max-width: 576px) {
    .navbar, .nav-link {
      flex-direction: column;
    }
    
  }
  

  